.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.container main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.resetBtn {
  background-color: #3982f1;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
