.card {
  border: 7px solid #e78946;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 1rem 5rem;
  width: 300px;
  color: #e78946;
  transition: background-color 0.4s;
  gap: 1rem;
}

.card span {
  font-size: 1.5rem;
  font-weight: bold;
}

.card p {
  font-size: 1.2rem;
}

.user {
  border: 7px solid #257dbd;
  color: #257dbd;
}

.imgCon {
  width: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgCon img {
  width: 100%;
}

.user.win {
  background-color: #257ebd35;
}

.computer.win {
  background-color: #e789463b;
}

.lose {
  opacity: 0.3;
}
